@using BookStoreMVC.Models.ViewModels.Ad
@{
    Layout = "_Layout";
    var Ads = (ViewData["Ads"] as List<AdViewModel>);
    var pageCount = (int) ViewData["PageCount"];
    var currentPage = (int) ViewData["CurrentPage"];
    var allAdsCount = (int) ViewData["AllAdsCount"];
    var filterOption = (FilterOption) ViewData["FilterOption"];
    var genres = (List<Genre>) ViewData["Genres"];
    var genreId = (int) ViewData["GenreId"];
}

@* <div class="search-row-wrapper" style="background-image: url(~/images/bg.jpg)"> *@
@*     <div class="inner"> *@
@*         <div class="container "> *@
@*             <form action="#" method="GET"> *@
@*                 <div class="row"> *@
@*                     <div class="col-md-3"> *@
@*                         <input class="form-control keyword" type="text" placeholder="e.g. Mobile Sale"> *@
@*                     </div> *@
@*                     <div class="col-md-3"> *@
@*                         <select class="form-control selecter" onchange="" name="category" id="search-category">pa *@
@*                             <option selected="selected" value="0">Bütün Kateqoriyalar</option> *@
@*                             @for (int i = 0; i < genres.Count(); i++) *@
@*                             { *@
@*                                 <option selected="selected" value="@genres[i]">@genres[i].Name</option> *@
@*                             } *@
@*                         </select> *@
@*                     </div> *@
@*                     <div class="col-md-3"> *@
@*                         <select class="form-control selecter" name="location" id="id-location"> *@
@*                             <option selected="selected" value="">All Locations</option> *@
@*                             <option value="AL">Alabama</option> *@
@*                             <option value="AK">Alaska</option> *@
@*                             <option value="AZ">Arizona</option> *@
@*                             <option value="AR">Arkansas</option> *@
@*                             <option value="CA">California</option> *@
@*                             <option value="CO">Colorado</option> *@
@*                             <option value="CT">Connecticut</option> *@
@*                             <option value="DE">Delaware</option> *@
@*                             <option value="DC">District Of Columbia</option> *@
@*                             <option value="FL">Florida</option> *@
@*                             <option value="GA">Georgia</option> *@
@*                             <option value="HI">Hawaii</option> *@
@*                             <option value="ID">Idaho</option> *@
@*                             <option value="IL">Illinois</option> *@
@*                             <option value="IN">Indiana</option> *@
@*                             <option value="IA">Iowa</option> *@
@*                             <option value="KS">Kansas</option> *@
@*                             <option value="KY">Kentucky</option> *@
@*                             <option value="LA">Louisiana</option> *@
@*                             <option value="ME">Maine</option> *@
@*                             <option value="MD">Maryland</option> *@
@*                             <option value="MA">Massachusetts</option> *@
@*                             <option value="MI">Michigan</option> *@
@*                             <option value="MN">Minnesota</option> *@
@*                             <option value="MS">Mississippi</option> *@
@*                             <option value="MO">Missouri</option> *@
@*                             <option value="MT">Montana</option> *@
@*                             <option value="NE">Nebraska</option> *@
@*                             <option value="NV">Nevada</option> *@
@*                             <option value="NH">New Hampshire</option> *@
@*                             <option value="NJ">New Jersey</option> *@
@*                             <option value="NM">New Mexico</option> *@
@*                             <option value="NY">New York</option> *@
@*                             <option value="NC">North Carolina</option> *@
@*                             <option value="ND">North Dakota</option> *@
@*                             <option value="OH">Ohio</option> *@
@*                             <option value="OK">Oklahoma</option> *@
@*                             <option value="OR">Oregon</option> *@
@*                             <option value="PA">Pennsylvania</option> *@
@*                             <option value="RI">Rhode Island</option> *@
@*                             <option value="SC">South Carolina</option> *@
@*                             <option value="SD">South Dakota</option> *@
@*                             <option value="TN">Tennessee</option> *@
@*                             <option value="TX">Texas</option> *@
@*                             <option value="UT">Utah</option> *@
@*                             <option value="VT">Vermont</option> *@
@*                             <option value="VA">Virginia</option> *@
@*                             <option value="WA">Washington</option> *@
@*                             <option value="WV">West Virginia</option> *@
@*                             <option value="WI">Wisconsin</option> *@
@*                             <option value="WY">Wyoming</option> *@
@*                             <option value="Other-Locations">Other Locations</option> *@
@*                         </select> *@
@*                     </div> *@
@*                     <div class="col-md-3"> *@
@*                         <button class="btn btn-block btn-primary btn-gradient"> *@
@*                             Search <i class="fa fa-search"></i> *@
@*                         </button> *@
@*                     </div> *@
@*                 </div> *@
@*             </form> *@
@*         </div> *@
@*     </div> *@
@* </div> *@
<!-- /.search-row -->
<div class="main-container">
<div class="container">
<div class="row">
<!-- this (.mobile-filter-sidebar) part will be position fixed in mobile version -->
<div class="col-md-3 page-sidebar mobile-filter-sidebar">
    <aside>
        <div class="sidebar-modern-inner">
            <div class="block-title has-arrow sidebar-header">
                <h5>
                    <a asp-action="Index" asp-route-page="@currentPage" asp-route-filterOption="@filterOption" asp-route-GenreId="0">Bütün Kateqoriyalar</a>
                </h5>
            </div>
            <div class="block-content categories-list  list-filter ">
                <ul class=" list-unstyled">
                    @for (int i = 0; i < genres.Count(); i++)
                    {
                        <li>
                            <a asp-action="Index" asp-route-page="@currentPage" asp-route-filterOption="@filterOption" asp-route-GenreId="@genres[i].Id">
                                <span class="title">@genres[i].Name</span>
                                @* <span class="count">&nbsp;8626</span> *@
                            </a>
                        </li>
                    }
                </ul>
            </div> <!--/.categories-list-->
            <!--/.locations-list-->

            @* <div class="block-title has-arrow"> *@
            @*     <h5> *@
            @*         <a href="#">Price range</a> *@
            @*     </h5> *@
            @* </div> *@
            @* <div class="block-content categories-list  list-filter "> *@
            @* *@
            @*     <form role="form" class="form-inline "> *@
            @*         <div class="form-group col-lg-4 col-md-12 no-padding"> *@
            @*             <input type="text" placeholder="$ 2000 " id="minPrice" class="form-control"> *@
            @*         </div> *@
            @*         <div class="form-group col-lg-1 col-md-12 no-padding text-center hidden-md"> -</div> *@
            @*         <div class="form-group col-lg-4 col-md-12 no-padding"> *@
            @*             <input type="text" placeholder="$ 3000 " id="maxPrice" class="form-control"> *@
            @*         </div> *@
            @*         <div class="form-group col-lg-3 col-md-12 no-padding"> *@
            @*             <button class="btn btn-default pull-right btn-block-md" type="submit"> *@
            @*                 GO *@
            @*             </button> *@
            @*         </div> *@
            @*     </form> *@
            @*     <div style="clear:both"></div> *@
            @* </div> *@

            <div class="block-title has-arrow">
                <h5>
                    <a href="#">Condition</a>
                </h5>
            </div>
            <div class="block-content categories-list  list-filter ">
                <ul class="browse-list list-unstyled ">
                    <li>
                        <a href="sub-category-sub-location.html">New <span class="count">228,705</span></a>
                    </li>
                    <li>
                        <a href="sub-category-sub-location.html">Used <span class="count">28,705</span></a>
                    </li>
                    <li>
                        <a asp-action="Index" >Hamısı - @allAdsCount </a>
                    </li>
                </ul>
            </div>
            <!--/.list-filter-->
            <div style="clear:both"></div>
        </div>


        <!--/.categories-list-->
    </aside>
</div>
<!--/.page-side-bar-->
<div class="col-md-9 page-content col-thin-left">

<div class="category-list ">

<div class="tab-box ">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs add-tabs tablist" role="tablist">
        <li class="active nav-item">
            <a href="#alladslist" role="tab" data-toggle="tab" class="nav-link active">Bütün Elanlar <span class="badge badge-pill badge-secondary">@allAdsCount</span></a>
        </li>
    </ul>
    <div class="tab-filter">
        <select title="sort by" onchange="window.location.href=this.value" class="selectpicker select-sort-by" data-style="btn-select"
                data-width="auto">
            <option>Sırala</option>
            <option value="/?page=@currentPage&filterOption=@FilterOption.LowToHigh">Qiymət: Ucuzdan Bahaya</option>
            <option value="/?page=@currentPage&filterOption=@FilterOption.HighToLow">Qiymət: Bahadan Ucuza</option>
            <option value="/?page=@currentPage&filterOption=@FilterOption.NewToOld">Tarix: Yenidən Köhnəyə</option>
            <option value="/?page=@currentPage&filterOption=@FilterOption.OldToNew">Tarix: Köhnədən Yeniyə</option>
        </select>
    </div>

</div>
<!--/.tab-box-->

<div class="listing-filter">
    <div class="pull-left col-xs-6">
        <div class="breadcrumb-list">
            <a href="#" class="current">
                <span>All ads</span>
            </a> in
            <!-- cityName will replace with selected location/area from location modal -->
            <span class="cityName"> New York </span>
            <a href="#selectRegion" id="dropdownMenu1"
               data-toggle="modal">
                <span
                    class="caret">
                </span>
            </a>
        </div>
    </div>
    <div class="pull-right col-xs-6 text-right listing-view-action">
        <span
            class="list-view active">
            <i class="  icon-th"></i>
        </span>
        <span
            class="compact-view">
            <i class=" icon-th-list  "></i>
        </span>
        <span
            class="grid-view ">
            <i class=" icon-th-large "></i>
        </span>
    </div>
    <div style="clear:both"></div>
</div>
<!--/.listing-filter-->

<!-- Mobile Filter bar-->
<div class="mobile-filter-bar col-xl-12  ">
    <ul class="list-unstyled list-inline no-margin no-padding">
        <li class="filter-toggle">
            <a class="">
                <i class="  icon-th-list"></i>
                Filters
            </a>
        </li>
        <li>


            <div class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle">
                    Short

                    by
                </a>
                <ul class="dropdown-menu">
                    <li class="dropdown-item">
                        <a href="#" rel="nofollow">Relevance</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="#" rel="nofollow">Date</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="#" rel="nofollow">Company</a>
                    </li>
                </ul>
            </div>

        </li>
    </ul>
</div>
<div class="menu-overly-mask"></div>
<!-- Mobile Filter bar End-->


<div class="tab-content">
<div class="tab-pane  active " id="alladslist">
    <div class="adds-wrapper row no-margin">
        <!--/.item-list-->
        @foreach (var ad in Ads)
        {
            <div class="item-list">
                <div class="row">
                    <div class="col-md-2 no-padding photobox">
                        <div class="add-image">
                            <span class="photo-count">
                                <i
                                    class="fa fa-camera">
                                </i> @ad.ImagePaths.Count()
                            </span>
                            <a asp-controller="Ads" asp-action="AdDetail" asp-route-id="@ad.Id">
                                <img
                                    class="thumbnail no-margin" src="@ad.ImagePaths[0]"
                                    alt="img">
                            </a>
                        </div>
                    </div>
                    <!--/.photobox-->
                    <div class="col-sm-7 add-desc-box">
                        <div class="ads-details">
                            <h5 class="add-title">
                                <a asp-controller="Ads" asp-action="AdDetail" asp-route-id="@ad.Id">@ad.Name</a>
                            </h5>
                            <span class="info-row">
                                <span class="add-type business-ads tooltipHere"
                                      data-toggle="tooltip" data-placement="right"
                                      title="Business Ads">
                                    @ad.SellOption
                                </span>
                                <span class="date">
                                    <i
                                        class=" icon-clock">
                                    </i> @ad.UploadTime
                                </span> -
                                <span
                                    class="category">
                                </span>-
                                <span class="item-location">
                                    <i
                                        class="fa fa-map-marker-alt">
                                    </i> New York
                                </span>
                            </span>
                        </div>
                    </div>
                    <!--/.add-desc-box-->
                    <div class="col-md-3 text-right  price-box">
                        <h2 class="item-price"> ₼ @ad.Price </h2>
                        <a class="btn btn-danger  btn-sm make-favorite">
                            <i class="fa fa-certificate"></i>
                            <span>Featured Ads</span>
                        </a>
                        <a class="btn btn-default  btn-sm make-favorite">
                            <i class="fa fa-heart"></i> <span>Save</span>
                        </a>
                    </div>
                    <!--/.add-desc-box-->
                </div>
            </div>
        }

        <!--/.item-list-->
    </div>
</div>
<div class="tab-pane   " id="businessads">
<div class="adds-wrapper row no-margin">
<div class="item-list">
    <div class="cornerRibbons featuredAds">
        <a href="#"> Featured Ads</a>
    </div>
    <div class="row">


        <div class="col-md-2 no-padding photobox">
            <div class="add-image">
                <span class="photo-count"><i class="fa fa-camera"></i> 2 </span>
                <a
                    href="ads-details.html">
                    <img class="thumbnail no-margin"
                         src="images/item/11.jpg"
                         alt="img">
                </a>
            </div>
        </div>
        <!--/.photobox-->
        <div class="col-sm-7 add-desc-box">
            <div class="ads-details">
                <h5 class="add-title">
                    <a href="ads-details.html">
                        Google drops Nexus 4 by $100, offers 15 day price
                        protection refund
                    </a>
                </h5>
                <span class="info-row">
                    <span class="add-type business-ads tooltipHere" data-toggle="tooltip"
                          data-placement="right" title="Business Ads">
                        B
                    </span>
                    <span class="date">
                        <i
                            class=" icon-clock">
                        </i> Today 1:21 pm
                    </span> - <span class="category">Electronics </span>-
                    <span
                        class="item-location">
                        <i class="fa fa-map-marker-alt"></i> London
                    </span>
                </span>
            </div>
        </div>
        <!--/.add-desc-box-->
        <div class="col-md-3 text-right  price-box">
            <h2 class="item-price"> $ 150 </h2>
            <a class="btn btn-danger  btn-sm make-favorite">
                <i class="fa fa-certificate"></i> <span>Featured Ads</span>
            </a>
            <a class="btn btn-default  btn-sm make-favorite">
                <i class="fa fa-heart"></i> <span>Save</span>
            </a>
        </div>
        <!--/.add-desc-box-->
    </div>
</div>
<!--/.item-list-->


<div class="item-list">

    <div class="row">
        <div class="col-md-2 no-padding photobox">
            <div class="add-image">
                <span class="photo-count"><i class="fa fa-camera"></i> 2 </span>
                <a
                    href="ads-details.html">
                    <img class="thumbnail no-margin" src="images/item/tp/Image00015.jpg" alt="img">
                </a>
            </div>
        </div>
        <!--/.photobox-->
        <div class="col-sm-7 add-desc-box">
            <div class="ads-details">
                <h5 class="add-title">
                    <a href="ads-details.html">
                        Brand New Samsung Phones
                    </a>
                </h5>
                <span class="info-row">
                    <span class="add-type business-ads tooltipHere" data-toggle="tooltip"
                          data-placement="right" title="Business Ads">
                        B
                    </span>
                    <span class="date">
                        <i
                            class=" icon-clock">
                        </i> Today 1:21 pm
                    </span> - <span class="category">Electronics </span>-
                    <span
                        class="item-location">
                        <i class="fa fa-map-marker-alt"></i> London
                    </span>
                </span>
            </div>
        </div>
        <!--/.add-desc-box-->
        <div class="col-md-3 text-right  price-box">
            <h2 class="item-price"> $ 320 </h2>
            <a class="btn btn-default  btn-sm make-favorite">
                <i class="fa fa-heart"></i> <span>Save</span>
            </a>
        </div>
        <!--/.add-desc-box-->
    </div>
</div>
<!--/.item-list-->

<div class="item-list">
    <div class="cornerRibbons urgentAds">
        <a href="#"> Urgent</a>
    </div>
    <div class="row">
        <div class="col-md-2 no-padding photobox">
            <div class="add-image">
                <span class="photo-count"><i class="fa fa-camera"></i> 2 </span>
                <a
                    href="ads-details.html">
                    <img class="thumbnail no-margin"
                         src="images/item/12.jpg"
                         alt="img">
                </a>
            </div>
        </div>
        <!--/.photobox-->
        <div class="col-sm-7 add-desc-box">
            <div class="ads-details">
                <h5 class="add-title">
                    <a href="ads-details.html"> Google drops Nexus 4 </a>
                </h5>
                <span class="info-row">
                    <span class="add-type business-ads tooltipHere" data-toggle="tooltip"
                          data-placement="right" title="Business Ads">
                        B
                    </span>
                    <span class="date">
                        <i
                            class=" icon-clock">
                        </i> Today 1:21 pm
                    </span> - <span class="category">Electronics </span>-
                    <span
                        class="item-location">
                        <i class="fa fa-map-marker-alt"></i> London
                    </span>
                </span>
            </div>
        </div>
        <!--/.add-desc-box-->
        <div class="col-md-3 text-right  price-box">
            <h2 class="item-price"> $ 150 </h2>
            <a class="btn btn-danger  btn-sm make-favorite">
                <i class="fa fa-certificate"></i> <span>Urgent</span>
            </a>
            <a
                class="btn btn-default  btn-sm make-favorite">
                <i class="fa fa-heart"></i> <span>Save</span>
            </a>
        </div>
        <!--/.add-desc-box-->
    </div>
</div>

<div class="item-list">

    <div class="row">
        <div class="col-md-2 no-padding photobox">
            <div class="add-image">
                <span class="photo-count"><i class="fa fa-camera"></i> 2 </span>
                <a
                    href="ads-details.html">
                    <img class="thumbnail no-margin" src="images/item/tp/Image00008.jpg" alt="img">
                </a>
            </div>
        </div>
        <!--/.photobox-->
        <div class="col-sm-7 add-desc-box">
            <div class="ads-details">
                <h5 class="add-title">
                    <a href="ads-details.html">
                        Sony Xperia dual sim 100% brand new
                    </a>
                </h5>
                <span class="info-row">
                    <span class="add-type business-ads tooltipHere" data-toggle="tooltip"
                          data-placement="right" title="Business Ads">
                        B
                    </span>
                    <span class="date">
                        <i
                            class=" icon-clock">
                        </i> Today 1:21 pm
                    </span> - <span class="category">Electronics </span>-
                    <span
                        class="item-location">
                        <i class="fa fa-map-marker-alt"></i> London
                    </span>
                </span>
            </div>
        </div>
        <!--/.add-desc-box-->
        <div class="col-md-3 text-right  price-box">
            <h2 class="item-price"> $ 250 </h2>
            <a class="btn btn-default  btn-sm make-favorite">
                <i class="fa fa-heart"></i> <span>Save</span>
            </a>
        </div>
        <!--/.add-desc-box-->
    </div>
</div>

<!--/.item-list-->
<div class="item-list">
    <div class="row">
        <div class="col-md-2 no-padding photobox">
            <div class="add-image">
                <span class="photo-count"><i class="fa fa-camera"></i> 2 </span>
                <a
                    href="ads-details.html">
                    <img class="thumbnail no-margin" src="images/item/tp/Image00014.jpg" alt="img">
                </a>
            </div>
        </div>
        <!--/.photobox-->
        <div class="col-sm-7 add-desc-box">
            <div class="ads-details">
                <h5 class="add-title">
                    <a href="ads-details.html">
                        Samsung Galaxy S Dous (Brand New/ Intact Box) With 1year
                        Warranty
                    </a>
                </h5>
                <span class="info-row">
                    <span class="add-type business-ads tooltipHere" data-toggle="tooltip"
                          data-placement="right" title="Business Ads">
                        B
                    </span>
                    <span class="date">
                        <i
                            class=" icon-clock">
                        </i> Today 1:21 pm
                    </span> - <span class="category">Electronics </span>-
                    <span
                        class="item-location">
                        <i class="fa fa-map-marker-alt"></i> London
                    </span>
                </span>
            </div>
        </div>
        <!--/.add-desc-box-->
        <div class="col-md-3 text-right  price-box">
            <h2 class="item-price"> $ 230</h2>
            <a class="btn btn-default  btn-sm make-favorite">
                <i class="fa fa-heart"></i> <span>Save</span>
            </a>
        </div>
        <!--/.add-desc-box-->
    </div>
</div>
<!--/.item-list-->
<div class="item-list">
    <div class="row">
        <div class="col-md-2 no-padding photobox">
            <div class="add-image">
                <span class="photo-count"><i class="fa fa-camera"></i> 2 </span>
                <a
                    href="ads-details.html">
                    <img class="thumbnail no-margin" src="images/item/tp/Image00003.jpg" alt="img">
                </a>
            </div>
        </div>
        <!--/.photobox-->
        <div class="col-sm-7 add-desc-box">
            <div class="ads-details">
                <h5 class="add-title">
                    <a href="ads-details.html">
                        MSI GE70 Apache Pro-061 17.3" Core i5-4200H/8GB DDR3/NV
                        GTX860M Gaming Laptop
                    </a>
                </h5>
                <span class="info-row">
                    <span class="add-type business-ads tooltipHere" data-toggle="tooltip"
                          data-placement="right" title="Business Ads">
                        B
                    </span>
                    <span class="date">
                        <i
                            class=" icon-clock">
                        </i> Today 1:21 pm
                    </span> - <span class="category">Electronics </span>-
                    <span
                        class="item-location">
                        <i class="fa fa-map-marker-alt"></i> London
                    </span>
                </span>
            </div>
        </div>
        <!--/.add-desc-box-->
        <div class="col-md-3 text-right  price-box">
            <h2 class="item-price"> $ 400 </h2>
            <a class="btn btn-default  btn-sm make-favorite">
                <i class="fa fa-heart"></i> <span>Save</span>
            </a>
        </div>
        <!--/.add-desc-box-->
    </div>
</div>
<!--/.item-list-->
<div class="item-list">
    <div class="row">
        <div class="col-md-2 no-padding photobox">
            <div class="add-image">
                <span class="photo-count"><i class="fa fa-camera"></i> 2 </span>
                <a
                    href="ads-details.html">
                    <img class="thumbnail no-margin" src="images/item/tp/Image00022.jpg" alt="img">
                </a>
            </div>
        </div>
        <!--/.photobox-->
        <div class="col-sm-7 add-desc-box">
            <div class="ads-details">
                <h5 class="add-title">
                    <a href="ads-details.html"> Apple iPod touch 16 GB 3rd Generation </a>
                </h5>
                <span class="info-row">
                    <span class="add-type business-ads tooltipHere" data-toggle="tooltip"
                          data-placement="right" title="Business Ads">
                        B
                    </span>
                    <span class="date">
                        <i
                            class=" icon-clock">
                        </i> Today 1:21 pm
                    </span> - <span class="category">Electronics </span>-
                    <span
                        class="item-location">
                        <i class="fa fa-map-marker-alt"></i> London
                    </span>
                </span>
            </div>
        </div>
        <!--/.add-desc-box-->
        <div class="col-md-3 text-right  price-box">
            <h2 class="item-price"> $ 150 </h2>
            <a class="btn btn-default  btn-sm make-favorite">
                <i class="fa fa-heart"></i> <span>Save</span>
            </a>
        </div>
        <!--/.add-desc-box-->
    </div>
</div>
<!--/.item-list-->


</div>
</div>
<div class="tab-pane   " id="private">
<div class="adds-wrapper row no-margin">
<div class="item-list">
    <div class="cornerRibbons topAds">
        <a href="#"> Top Ads</a>
    </div>

    <div class="row">

        <div class="col-md-2 no-padding photobox">
            <div class="add-image">
                <span class="photo-count"><i class="fa fa-camera"></i> 2 </span>
                <a
                    href="ads-details.html">
                    <img class="thumbnail no-margin" src="images/item/tp/Image00015.jpg" alt="img">
                </a>
            </div>
        </div>
        <!--/.photobox-->
        <div class="col-sm-7 add-desc-box">
            <div class="ads-details">
                <h5 class="add-title">
                    <a href="ads-details.html">
                        Brand New Samsung Phones
                    </a>
                </h5>
                <span class="info-row">
                    <span class="add-type business-ads tooltipHere" data-toggle="tooltip"
                          data-placement="right" title="Business Ads">
                        B
                    </span>
                    <span class="date">
                        <i
                            class=" icon-clock">
                        </i> Today 1:21 pm
                    </span> - <span class="category">Electronics </span>-
                    <span
                        class="item-location">
                        <i class="fa fa-map-marker-alt"></i> London
                    </span>
                </span>
            </div>
        </div>
        <!--/.add-desc-box-->
        <div class="col-md-3 text-right  price-box">
            <h2 class="item-price"> $ 320 </h2>
            <a class="btn btn-danger  btn-sm make-favorite">
                <i class="fa fa-certificate"></i> <span>Top Ads</span>
            </a>
            <a
                class="btn btn-default  btn-sm make-favorite">
                <i class="fa fa-heart"></i> <span>Save</span>
            </a>
        </div>
        <!--/.add-desc-box-->
    </div>
</div>
<!--/.item-list-->

<div class="item-list">
    <div class="cornerRibbons featuredAds">
        <a href="#"> Featured Ads</a>
    </div>
    <div class="row">
        <div class="col-md-2 no-padding photobox">
            <div class="add-image">
                <span class="photo-count"><i class="fa fa-camera"></i> 2 </span>
                <a
                    href="ads-details.html">
                    <img class="thumbnail no-margin" src="images/item/tp/Image00008.jpg" alt="img">
                </a>
            </div>
        </div>
        <!--/.photobox-->
        <div class="col-sm-7 add-desc-box">
            <div class="ads-details">
                <h5 class="add-title">
                    <a href="ads-details.html">
                        Sony Xperia dual sim 100% brand new
                    </a>
                </h5>
                <span class="info-row">
                    <span class="add-type business-ads tooltipHere" data-toggle="tooltip"
                          data-placement="right" title="Business Ads">
                        B
                    </span>
                    <span class="date">
                        <i
                            class=" icon-clock">
                        </i> Today 1:21 pm
                    </span> - <span class="category">Electronics </span>-
                    <span
                        class="item-location">
                        <i class="fa fa-map-marker-alt"></i> London
                    </span>
                </span>
            </div>
        </div>
        <!--/.add-desc-box-->
        <div class="col-md-3 text-right  price-box">
            <h2 class="item-price"> $ 250 </h2>
            <a class="btn btn-danger  btn-sm make-favorite">
                <i class="fa fa-certificate"></i> <span>Featured Ads</span>
            </a>
            <a class="btn btn-default  btn-sm make-favorite">
                <i class="fa fa-heart"></i> <span>Save</span>
            </a>
        </div>
        <!--/.add-desc-box-->
    </div>
</div>

<div class="item-list">
    <div class="cornerRibbons urgentAds">
        <a href="#"> Urgent</a>
    </div>
    <div class="row">
        <div class="col-md-2 no-padding photobox">
            <div class="add-image">
                <span class="photo-count"><i class="fa fa-camera"></i> 2 </span>
                <a
                    href="ads-details.html">
                    <img class="thumbnail no-margin"
                         src="images/item/12.jpg"
                         alt="img">
                </a>
            </div>
        </div>
        <!--/.photobox-->
        <div class="col-sm-7 add-desc-box">
            <div class="ads-details">
                <h5 class="add-title">
                    <a href="ads-details.html"> Google drops Nexus 4 </a>
                </h5>
                <span class="info-row">
                    <span class="add-type business-ads tooltipHere" data-toggle="tooltip"
                          data-placement="right" title="Business Ads">
                        B
                    </span>
                    <span class="date">
                        <i
                            class=" icon-clock">
                        </i> Today 1:21 pm
                    </span> - <span class="category">Electronics </span>-
                    <span
                        class="item-location">
                        <i class="fa fa-map-marker-alt"></i> London
                    </span>
                </span>
            </div>
        </div>
        <!--/.add-desc-box-->
        <div class="col-md-3 text-right  price-box">
            <h2 class="item-price"> $ 150 </h2>
            <a class="btn btn-danger  btn-sm make-favorite">
                <i class="fa fa-certificate"></i> <span>Urgent</span>
            </a>
            <a class="btn btn-default  btn-sm make-favorite">
                <i class="fa fa-heart"></i> <span>Save</span>
            </a>
        </div>
        <!--/.add-desc-box-->
    </div>
</div>
<!--/.item-list-->

<!--/.item-list-->
<div class="item-list">
    <div class="row">
        <div class="col-md-2 no-padding photobox">
            <div class="add-image">
                <span class="photo-count"><i class="fa fa-camera"></i> 2 </span>
                <a
                    href="ads-details.html">
                    <img class="thumbnail no-margin" src="images/item/tp/Image00014.jpg" alt="img">
                </a>
            </div>
        </div>
        <!--/.photobox-->
        <div class="col-sm-7 add-desc-box">
            <div class="ads-details">
                <h5 class="add-title">
                    <a href="ads-details.html">
                        Samsung Galaxy S Dous (Brand New/ Intact Box) With 1year
                        Warranty
                    </a>
                </h5>
                <span class="info-row">
                    <span class="add-type business-ads tooltipHere" data-toggle="tooltip"
                          data-placement="right" title="Business Ads">
                        B
                    </span>
                    <span class="date">
                        <i
                            class=" icon-clock">
                        </i> Today 1:21 pm
                    </span> - <span class="category">Electronics </span>-
                    <span
                        class="item-location">
                        <i class="fa fa-map-marker-alt"></i> London
                    </span>
                </span>
            </div>
        </div>
        <!--/.add-desc-box-->
        <div class="col-md-3 text-right  price-box">
            <h2 class="item-price"> $ 230</h2>
            <a class="btn btn-default  btn-sm make-favorite">
                <i class="fa fa-heart"></i> <span>Save</span>
            </a>
        </div>
        <!--/.add-desc-box-->
    </div>
</div>
<!--/.item-list-->
<div class="item-list">
    <div class="row">
        <div class="col-md-2 no-padding photobox">
            <div class="add-image">
                <span class="photo-count"><i class="fa fa-camera"></i> 2 </span>
                <a
                    href="ads-details.html">
                    <img class="thumbnail no-margin" src="images/item/tp/Image00003.jpg" alt="img">
                </a>
            </div>
        </div>
        <!--/.photobox-->
        <div class="col-sm-7 add-desc-box">
            <div class="ads-details">
                <h5 class="add-title">
                    <a href="ads-details.html">
                        MSI GE70 Apache Pro-061 17.3" Core i5-4200H/8GB DDR3/NV
                        GTX860M Gaming Laptop
                    </a>
                </h5>
                <span class="info-row">
                    <span class="add-type business-ads tooltipHere" data-toggle="tooltip"
                          data-placement="right" title="Business Ads">
                        B
                    </span>
                    <span class="date">
                        <i
                            class=" icon-clock">
                        </i> Today 1:21 pm
                    </span> - <span class="category">Electronics </span>-
                    <span
                        class="item-location">
                        <i class="fa fa-map-marker-alt"></i> London
                    </span>
                </span>
            </div>
        </div>
        <!--/.add-desc-box-->
        <div class="col-md-3 text-right  price-box">
            <h2 class="item-price"> $ 400 </h2>
            <a class="btn btn-default  btn-sm make-favorite">
                <i class="fa fa-heart"></i> <span>Save</span>
            </a>
        </div>
        <!--/.add-desc-box-->
    </div>
</div>
<!--/.item-list-->
<div class="item-list">
    <div class="row">
        <div class="col-md-2 no-padding photobox">
            <div class="add-image">
                <span class="photo-count"><i class="fa fa-camera"></i> 2 </span>
                <a
                    href="ads-details.html">
                    <img class="thumbnail no-margin" src="images/item/tp/Image00022.jpg" alt="img">
                </a>
            </div>
        </div>
        <!--/.photobox-->
        <div class="col-sm-7 add-desc-box">
            <div class="ads-details">
                <h5 class="add-title">
                    <a href="ads-details.html"> Apple iPod touch 16 GB 3rd Generation </a>
                </h5>
                <span class="info-row">
                    <span class="add-type business-ads tooltipHere" data-toggle="tooltip"
                          data-placement="right" title="Business Ads">
                        B
                    </span>
                    <span class="date">
                        <i
                            class=" icon-clock">
                        </i> Today 1:21 pm
                    </span> - <span class="category">Electronics </span>-
                    <span
                        class="item-location">
                        <i class="fa fa-map-marker-alt"></i> London
                    </span>
                </span>
            </div>
        </div>
        <!--/.add-desc-box-->
        <div class="col-md-3 text-right  price-box">
            <h2 class="item-price"> $ 150 </h2>
            <a class="btn btn-default  btn-sm make-favorite">
                <i class="fa fa-heart"></i> <span>Save</span>
            </a>
        </div>
        <!--/.add-desc-box-->
    </div>
</div>
<!--/.item-list-->
<div class="item-list">
    <div class="row">
        <div class="col-md-2 no-padding photobox">
            <div class="add-image">
                <span class="photo-count"><i class="fa fa-camera"></i> 2 </span>
                <a
                    href="ads-details.html">
                    <img class="thumbnail no-margin"
                         src="images/item/11.jpg"
                         alt="img">
                </a>
            </div>
        </div>
        <!--/.photobox-->
        <div class="col-sm-7 add-desc-box">
            <div class="ads-details">
                <h5 class="add-title">
                    <a href="ads-details.html">
                        Google drops Nexus 4 by $100, offers 15 day price
                        protection refund
                    </a>
                </h5>
                <span class="info-row">
                    <span class="add-type business-ads tooltipHere" data-toggle="tooltip"
                          data-placement="right" title="Business Ads">
                        
                    </span>
                    <span class="date">
                        <i
                            class=" icon-clock">
                        </i> Today 1:21 pm
                    </span> - <span class="category">Electronics </span>-
                    <span
                        class="item-location">
                        <i class="fa fa-map-marker-alt"></i> London
                    </span>
                </span>
            </div>
        </div>
        <!--/.add-desc-box-->
        <div class="col-md-3 text-right  price-box">
            <h2 class="item-price"> $ 150 </h2>
            <a class="btn btn-default  btn-sm make-favorite">
                <i class="fa fa-heart"></i> <span>Save</span>
            </a>
        </div>
        <!--/.add-desc-box-->
    </div>
</div>
<!--/.item-list-->
</div>
</div>
</div>


</div>

<div class="pagination-bar text-center">
    <nav aria-label="Page navigation " class="d-inline-b">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-page="@(currentPage - 1)" asp-route-GenreId="@genreId">Previous</a>
            </li>
            @for (int i = 0; i < pageCount; i++)
            {
                <li class="page-item @(i + 1 == currentPage ? "active" : "")">
                    <a class="page-link" asp-action="Index" asp-route-filterOption="@filterOption" asp-route-page="@(i + 1)" asp-route-GenreId="@genreId">@(i + 1)</a>
                </li>
            }
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-filterOption="@filterOption" asp-route-page="@(currentPage + 1)" asp-route-GenreId="@genreId">Next</a>
            </li>
        </ul>
    </nav>
</div>
<!--/.pagination-bar -->

<div class="post-promo text-center">
    <h2> Do you get anything for sell ? </h2>
    <h5>Sell your products online FOR FREE. It's easier than you think !</h5>
    <a href="post-ads.html" class="btn btn-lg btn-border btn-post btn-danger">Post a Free Ad </a>
</div>
<!--/.post-promo-->
</div>
<!--/.page-content-->

</div>
</div>
</div>
<!-- /.main-container -->